* {
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    
    max-width: 37em;
}
.lang {
    float: right;
    width: 17%;
}
#nav {
    width: 100%;
    background: linear-gradient(#eeeeee, #dcdcdc, #d8d8d8);
}
#nav-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav ul li {
    width: 24%;
    display: inline-block;
}
#nav ul li a:hover {
    color: grey;
}
#nav-wrapper ul li label {
    color: grey;
    display: block;
    text-decoration: none;
}
#nav-wrapper ul li a {
    color: grey;
    display: block;
    padding: 7%;
    text-decoration: none;
}
#menu {
    font-family: fontawesome;
    font-size: 35px;
}
.navbar {
    font-family: helvetica;
}
button {/* This needs to change name/class/id */
    font-family: FontAwesome;
}
.sitelogo{
    float: left;
    width: 20%;
}
.clear {
    clear: both;
}
.offerimg {
    max-width: 90%;
}
.offertitle {
    font-family: Helvetica;
    font-size: 22px;
}
.navgreen {
    width: 20%;
    height: 3px;
    background-color: #a5c013;
    margin: 0px;
    border: 0px;
    float: left;
}
.navred {
    width: 20%;
    height: 3px;
    background-color: #d0353d;
    margin: 0px;
    border: 0px;
    float: left;
}
.navblue {
    width: 20%;
    height: 3px;
    background-color: #2088ca;
    margin: 0px;
    border: 0px;
    float: left;
}
.navyellow {
    width: 20%;
    height: 3px;
    background-color: #f9ae12;
    float: left;
}
.navpurple {
    width: 20%;
    height: 3px;
    background-color: #b53d8f;
    float: left;
}
#profilepic {
    float: left;
    max-width: 40%;
}
#profileinfo {
    float: left;
    font-family: 'Helvetica';
    font-size: 10px;
    max-width: 35%
}
table {
    font-family: 'Helvetica';
    font-size: 14px;
    max-width: 100%;
}
table th {
    border: 3px solid;
    border-color: black;
    max-width: 5%;
    padding: 0px;
}
table td {
    border: 3px solid;
    border-color: black;
    max-width: 5%;    
}
#brpoint {
    border-bottom: 2px solid grey;
}
.navbar {
    display: inline;
}
header {
    background-color: white;
}
#body {
    background-color: lightgray;
}
.mon, .tue, .wed, .thur, .fri, .sat, .sun {
    display: inline;
    float: left;
    width: 10%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.underbox {
    font-size: 12px;
    font-family: Helvetica;
    margin-top: 5%;
    margin-bottom: 8px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.overbox {
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 8px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.sun {
    border-right: 2px solid black;
}
@media only screen and (max-width: 37em) {
    .mon, .tue, .wed, .thur, .fri, .sat, .sun {
        font-size: 5px;
    }
}