* {
    padding: 0px;
    margin: 0px;
}
body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: red;
    /*background-image: url("images/bg.jpg");*/
    background-size: 25%;
}
header {
}
.wrapper {
    
    max-width: 37em;
}
.lang {
    float: right;
    width: 17%;
}
#nav {
    width: 100%;
    background: linear-gradient(#eeeeee, #dcdcdc, #d8d8d8);
}
#nav-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav ul li {
    width: 24%;
    display: inline-block;
}
#nav ul li a:hover {
    color: grey;
}
#nav-wrapper ul li button{
    color: grey;
    display: block;
    text-decoration: none;
}
#nav-wrapper ul li a {
    color: grey;
    display: block;
    padding: 7%;
    text-decoration: none;
}
.menu {
    position: relative;
    font-family: fontawesome;
    font-size: 35px;
    background:none;
    border:0;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    padding-left: 20px;
}
.category {
    font-family: helvetica;
    background:none;
    border:0;
    cursor:pointer;
    outline:none;
    z-index:10000000000001;
    color: grey;
    display: block;
    padding: 7%;
    text-decoration: none;
}
.storepage {
    position: fixed;
    top: 130px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.navbar {
    font-family: helvetica;
}
button {/* This needs to change name/class/id */
    font-family: FontAwesome;
}
.sitelogo{
    float: left;
    width: 20%;
}
.clear {
    clear: both;
}
.offerimg {
    max-width: 90%;
}
.offertitle {
    font-family: Helvetica;
    font-size: 22px;
}
.navgreen {
    width: 20%;
    height: 3px;
    background-color: #a5c013;
    margin: 0px;
    border: 0px;
    float: left;
}
.navred {
    width: 20%;
    height: 3px;
    background-color: #d0353d;
    margin: 0px;
    border: 0px;
    float: left;
}
.navblue {
    width: 20%;
    height: 3px;
    background-color: #2088ca;
    margin: 0px;
    border: 0px;
    float: left;
}
.navyellow {
    width: 20%;
    height: 3px;
    background-color: #f9ae12;
    float: left;
}
.navpurple {
    width: 20%;
    height: 3px;
    background-color: #b53d8f;
    float: left;
}
#profilepic {
    float: left;
    max-width: 40%;
    padding: 2%;
}
#profileinfo {
    float: right;
    font-family: 'Helvetica';
    font-size: 10px;
    max-width: 35%;
    padding-right: 5%
}
#brpoint {
    border-bottom: 2px solid grey;
}
.navbar {
    display: inline;
}

#body {
    background-color: lightgray;
}
.openhours {
    padding: 2%;
}
.mon, .tue, .wed, .thur, .fri, .sat, .sun {
    display: inline;
    float: left;
    width: 12.5%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0;
}
.underbox {
    font-size: 300%;
    font-family: Helvetica;
    padding-top: 5%;
    padding-bottom: 3px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin: 0;
    border-top: 2px solid black;
}
.overbox {
    font-size: 280%;
    font-family: Helvetica;
    padding-top: 5%;
    padding-bottom: 2px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.closed {
    font-size: 200%;
    font-family: Helvetica;
    padding-top: 15%;
    padding-bottom: 6px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin: 0;
    border-top: 2px solid black;
}
.sun {
    border-right: 2px solid black;
}
.offertitle {
    padding: 2%;
}
.offer {
    padding: 2%;
}
@media only screen and (max-width: 37em) {
    .mon, .tue, .wed, .thur, .fri, .sat, .sun {
        font-size: 5px;
    }
}